body {

	font-family: verdana, arial, serif;
	font-size: 0.8em;
	margin-bottom: 30px;
	margin-top: 30px;
	text-align: center;
	background-color: #F7DFFF; 
}

a {
	color: #EBA200;
	text-decoration: underline;
}

#container {
	color: #000000;
	margin: 0 auto;
	position: relative;
	text-align: left;
	width: 750px;
}

#header {
	background: #eee url(header.jpg) no-repeat;
	background-size: cover;
	height: 270px;
	text-align: left;
	width: 100%;
}

#sidebar {
	margin-top: 10px;
	float: left;	
	width: 100px;
}

#sidebar ul {
	list-style: none;
	margin-left: 15px;
	padding-left: 0px;
}

#sidebar ul li {
	display: block;
	padding-bottom: 8px;	
}

#sidebar a {
	color: #3261B1;
	display: block;
	font-size: 1.2em;
	padding: 2px 8px;
	width: 100px;
	text-decoration: none;
}

#sidebar a:hover {
	background-color: #DB9EF7;
	color: white;
}

#content {
	float: right;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 8px;
	width: 590px;
}

#footer {
	clear: right;
	color: #000000;
	font-size: 0.8em;
	margin: 0 auto;
	padding-bottom: 4px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
	text-align: right;
	width: 730px;
}